.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: #f6f6f6;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 120px;
    height: 35px;

    @media screen and (min-width: 2000px) {
      width: 250px;
      height: 70px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    a {
      color: var(--grey-color);
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 400;

      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--red-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;

  p {
    font-weight: 500;
    color: var(--black-color);
  }

  button {
    border: 1px solid #f53855;
    color: #f53855;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    font-weight: 500;
  }

  @media screen and (max-width: 450px) {
    gap: 5px;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);

  svg {
    width: 70%;
    height: 70%;
    color: #fff;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: #f6f6f6;

    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--red-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;
      }

      a {
        color: var(--grey-color);
        text-decoration: none;
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 400;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--red-color);
        }
      }
      @media screen and (min-width: 900px) {
        display: none;
      }
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
