.app__header {
  h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
    color: var(--black-color);

    @media screen and (max-width: 850px) {
      font-size: 45px;
      line-height: 55px;
    }

    @media screen and (max-width: 650px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  p {
    margin: 20px 0 50px 0;
    font-weight: 500;
  }
}
